<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
	<meta charset="UTF-8">
	<title>Lattes Simplificado</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/curriculo.css' %}">
</head>
<body>
	<div class="secoes">
		<div class="principal">
			<img id="foto" src="/media/{{ pesquisador.foto }}" alt="Foto">
			<div>
				<h1>Nome Completo</h1>
				<p>{{ pesquisador.nome }}</p>
			</div>
			<div>
				<h1>Email</h1>
				<p>{{ pesquisador.email }}</p>
			</div>
			<div id="resumo">
				<h1>Resumo</h1>
				{{ curriculo.resumo }}
			</div>
		</div>
		<div class="endereco">
			<p>Endereço</p>
			<h2>{{ endereco.logradouro }}</h2>
			<h2>{{ endereco.bairro }}</h2>
			<h2>{{ endereco.cidade }}</h2>
			<h2>{{ endereco.estado }}</h2>
		</div>
		<div class="formacao-academica">
			<p>Graduações</p>
			{% for grad in grad %}
				<h2>{{ grad.nome }}</h2>
				<h2>{{ grad.instituicao }}</h2>
				<h2>{{ grad.ano_de_inicio }} - {{ grad.ano_de_termino }}</h2>
			{% endfor %}
			<p>Pós-Graduações</p>
			{% for posgrad in posgrad %}
				<h2>{{ posgrad.nome }}</h2>
				<h2>{{ posgrad.instituicao }}</h2>
				<h2>{{ posgrad.ano_de_inicio }} - {{ posgrad.ano_de_termino }}</h2>
				<h2>{{ posgrad.titulo }} </h2>
				<h2>{{ posgrad.orietador }}</h2>
				<h2>{{ posgrad.palavras_chave }}</h2>
				<h2>{{ posgrad.grande_area }} </h2>
				<h2>{{ posgrad.area }} </h2>
				<h2>{{ posgrad.sub_area }} </h2>
				<h2>{{ posgrad.especialidade_area }} </h2>	
			{% endfor %}
		</div>
		<div class="atuacao-profissional">
			<p>Atuações Profissionais</p>
			{% for at_prof in atuacao_profissional %}
				<h2>{{ at_prof.instituicao }}</h2>
				<h2>{{ at_prof.ano_de_inicio }} - {{ at_prof.ano_de_termino }} Vínculo: {{ at_prof.vinculo }}, Enquadramento Funcional: {{ at_prof.enquad_profissional }}, Regime: {{ at_prof.regime }}</h2>
				<h2></h2>
			{% endfor %}
		</div>
		<div class="linhas_pesquisa">
			<p>Linhas de Pesquisa</p>
			<ul>
			{% for linha_pesq in linha_pesquisa %}
				<li>{{ linha_pesq }}</li>
			{% endfor %}
			</ul>
		</div>
		<div class="proj_pesq">
			<p>Projetos de Pesquisa</p>
			{% for proj_pesq in projeto_pesquisa %}
				{{ proj_pesq }}
			{% endfor %}
		</div>
		<div class="proeficiencia_idioma">
			<p>Proficiência em Idiomas</p>
			{% for proef_idioma in proeficiencia_idioma %}
				{{ proef_idioma }}
			{% endfor %}
		</div>
		<div class="premios">
			<p>Prêmios e Títulos</p>
			{% for prem_tit in premio %}
				{{ prem_tit }}
			{% endfor %}
		</div>
		<div class="orient_acad">
			<p>Orientações Acadêmicas</p>
			{% for orient_acad in orientacao_academica %}
				{{ orient_acad }}
			{% endfor %}
		</div>
		<div class="prod_bib">
			<p>Produções Bibliográficas</p>
			{% for prod_bib in producao_bibliografica %}
				{{ prod_bib }}
			{% endfor %}
		</div>
		<div class="prod_tec">
			<p>Produções Técnicas</p>
			{% for prod_tec in producao_tecnic %}
				{{ prod_tec }}
			{% endfor %}
		</div>
	</div>
</body>
</html>