<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/collapse.css' %}">
    <title>Lattes Simplificado</title>
</head>
<body>
    <header class="header">
        <h1>Currículo</br><span>Lattes</span></h1>
        <div>
            <a href="#">Editar perfil</a>
            <a href="#">Sair</a>
        </div>
    </header>
    <section class="container">
        <form method="POST">
			{% csrf_token %}
            <fieldset>
                <h1>Imagem</h1>
                <div class="input-block avatar">
                    <div class="image-perfil"></div>
                    <input type="file" value="Alterar" name="image-perfil" id="image-perfil">
					{{ pesquisador_form.foto }}
                    <input type="submit" value="Salvar Foto" name="salvar_foto" id="btn-salvar-foto"/>
                </div>
				<h1 id="dados-pessoais">Dados Pessoais</h1>
                <div class="input-block">
					{{ pesquisador_form.nome.errors }}
                    <label for="nome-completo">Nome completo</label>
					{{ pesquisador_form.nome }}
                </div>
               <div class="wrapper">
                <div class="input-block">
                    {{ pesquisador_form.email.errors }}
					<label for="email">Email</label>
                   	{{ pesquisador_form.email }}
                </div>
                <div class="input-block">
					{{ pesquisador_form.telefone.errors }}
                    <label for="telefone">Telefone</label>
					{{ pesquisador_form.telefone }}
                </div>
               </div>
                <div class="input-block">
                    {{ pesquisador_form.cpf.errors }}
					<label for="cpf">CPF (não será visível)</label>
                    {{ pesquisador_form.cpf }}
                </div>
                <div class="input-block">
                    {{ curriculo_form.resumo.errors }}
                    <label for="resumo">Resumo</label>
                    {{ curriculo_form.resumo }}
                </div>
				
                <h2>Endereço profissional</h2>
                <div class="input-block">
                    {{ endereco_form.logradouro.errors }}
                    <label for="lagradouro">Lagradouro</label>
                    {{ endereco_form.logradouro }}
                </div>
				<div class="input-block">
					{{ endereco_form.bairro.errors }}
					<label for="bairro">Bairro</label>
                    {{ endereco_form.bairro }}
				</div>
				<div class="wrapper">
					<div class="input-block">
						{{ endereco_form.cidade.errors }}
						<label for="cidade">Cidade</label>
						{{ endereco_form.cidade }}
					</div>
					<div class="input-block">
						{{ endereco_form.estado.errors }}
						<label for="estado">Estado</label>
						{{ endereco_form.estado }}
					</div>
				</div>
				<div class="input-block">
					<input type="submit" value="Salvar Dados" name="salvar_dados_pessoais" id="btn-salvar"/>
				</div>
            </fieldset>
		</form>
		<form method="POST">
			{% csrf_token %}
            <fieldset>
                <h2 id="form_academ">Formação acadêmica</h2>
				<div class="input-block">
					{{ grad_form.management_form}}
					{% for hidden in grad_form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for grad in grad_form %}
					<section class="accordion">
						<input type="checkbox" name="collapse-grad" id="grad{{ forloop.counter }}">
						<h2 class="handle">
						  <label for="grad{{ forloop.counter }}">Graduação #{{ forloop.counter }}</label>
						</h2>
						<div class="content">
							{{ grad.errors }}
							{{ grad }}
						</div>
					</section>
					{% endfor %}
					{{ posgrad_form.management_form}}
					{% for pos_hidden in posgrad_form.hidden_fields %}
						{{ pos_hidden }}
					{% endfor %}
					{% for posgrad in posgrad_form %}
					<section class="accordion">
						<input type="checkbox" name="collapse-posgrad" id="posgrad{{ forloop.counter }}">
						<h2 class="handle">
						  <label for="posgrad{{ forloop.counter }}">Pós-Graduação {{ forloop.counter }}</label>
						</h2>
						<div class="content">
							{{ posgrad.errors }}
							{{ posgrad }}
						</div>
					</section>
					{% endfor %}
					</div>
					<div class="wrapper" id="form_acad_buttons">
						<div class="input-block">                    
							<input type="submit" value="Adicionar Graduação" name="add_grad" id="add_grad">
						</div>
						<div class="input-block">                    
							<input type="submit" value="Adicionar Pós-Graduação" name="add_posgrad" id="add_posgrad">
						</div>
						<div class="input-block">                    
							<input type="submit" value="Salvar Formação" name="save_form_acad" id="save_form_acad">
						</div>
					</div>
				</div>
		</form>
		<form method="POST">
			</fieldset>
            </fieldset>
		</form>
		<form method="POST"> 
			<fieldset>
                <h2 id="linha-de-pesquisa">Atuação profissional</h2>
                <div class="input-block">
					{{ atuacao_profissional_form.management_form}}
					{% for hidden in atuacao_profissional_form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for atuacao_profissional in atuacao_profissional_form %}
					<section class="accordion">
						<input type="checkbox" name="collapse-atuacao_profissional" id="atuacao_profissional{{ forloop.counter }}">
						<h2 class="handle">
						<label for="atuacao_profissional{{ forloop.counter }}">Atuação Profisinal #{{ forloop.counter }}</label>
						</h2>
						<div class="content">
							{{ atuacao_profissional.errors }}
							{{ atuacao_profissional }}
						</div>
					</section>
					{% endfor %}
                </div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar atuacação profissional" name="add_atucao_prof" id="add_atucao_prof">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar atuacação profissional" name="save_atuacao_prof" id="save_atuacao_prof">
					</div>
				</div>
            </fieldset>
		</form>
		<form method="POST"> 
			<fieldset>
                <h2>Atuação profissional</h2>
                <div class="input-block">
                    <label for="vinculo">Vínculo</label>
                    <input type="text" name="vinculo" id="vinculo">
                </div>
                <div class="input-block">
                    <label for="trabalho-dt-ini">Ano de início</label>
                    <input type="text" name="trabalho-dt-ini" id="trabalho-dt-ini">
                </div>
                <div class="input-block">
                    <label for="trabalho-dt-fin">Ano de término</label>
                    <input type="text" name="trabalho-dt-fin" id="trabalho-dt-fin">
                </div>
                <div class="input-block">
                    <label for="instituicao">Instituição</label>
                    <input type="text" name="instituicao" id="instituicao">
                </div>
                <div class="input-block">
                    <label for="enquad">Enquadramento Profissional</label>
                    <input type="text" name="enquad" id="enquad">
                </div>
                <div class="input-block">
                    <label for="regime">Regime</label>
                    <input type="text" name="regime" id="regime">
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar atuação profissional" name="addAtProfisional" id="addAtProfisional">
                </div>
                
            </fieldset>
		</form>
		<form method="POST"> 
			<fieldset>
                <h2 id="linha-de-pesquisa">Linhas de pesquisa</h2>
                <div class="input-block">
					{{ linha_pesquisa_form.management_form}}
					{% for hidden in linha_pesquisa_form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for detalhamento in linha_pesquisa_form %}
						{{ detalhamento.errors }}
						{{ detalhamento }}
					{% endfor %}
                </div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar linha de pesquisa" name="add_linha_pesq" id="add_linha_pesq">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar linha de pesquisa" name="save_linha_pesq" id="save_linha_pesq">
					</div>
				</div>
            </fieldset>
		</form>
		<form method="POST"> 
			<fieldset>
                <h2 id="linha-de-pesquisa">Projetos de pesquisa</h2>
                <div class="input-block">
					{{ projeto_pesquisa_form.management_form}}
					{% for hidden in projeto_pesquisa_form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for projeto_pesquisa in projeto_pesquisa_form %}
					<section class="accordion">
						<input type="checkbox" name="collapse-projeto_pesquisa" id="projeto_pesquisa{{ forloop.counter }}">
						<h2 class="handle">
						<label for="projeto_pesquisa{{ forloop.counter }}">Projeto de pesquisa #{{ forloop.counter }}</label>
						</h2>
						<div class="content">
							{{ projeto_pesquisa.errors }}
							{{ projeto_pesquisa }}
						</div>
					</section>
					{% endfor %}
                </div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar projeto de pesquisa" name="add_proj_pesq" id="add_proj_pesq">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar projeto de pesquisa" name="save_proje_pesq" id="save_proje_pesq">
					</div>
				</div>
            </fieldset>
		</form>                  
	
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<h2 id="proeficiencia_idioma">Idiomas</h2>
				<div class="input-block">
				{{ proeficiencia_idioma_form.management_form}}
				{% for hidden in proeficiencia_idioma_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for form_idioma in proeficiencia_idioma_form %}
				<section class="accordion">
					<input type="checkbox" name="collapse-idioma" id="idioma{{ forloop.counter }}">
					<h2 class="handle">
					<label for="idioma{{ forloop.counter }}">Idioma #{{ forloop.counter }}</label>
					</h2>
					<div class="content">
						{{ form_idioma.errors }}
						{{ form_idioma }}
					</div>
				</section>
				{% endfor %}
				</div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar Idioma" name="add_idioma" id="add_idioma">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar Idioma" name="save_idioma" id="save_idioma">
					</div>
				</div>
			</fieldset>
		</form>
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<h2 id="premios">Prêmios e Títulos</h2>
				<div class="input-block">
				{{ premio_form.management_form}}
				{% for hidden in premio_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for premio in premio_form %}
				<section class="accordion">
					<input type="checkbox" name="collapse-orient_acad" id="orient_acad{{ forloop.counter }}">
					<h2 class="handle">
					<label for="orient_acad{{ forloop.counter }}">Prêmio/Título #{{ forloop.counter }}</label>
					</h2>
					<div class="content">
						{{ premio.errors }}
						{{ premio }}
					</div>
				</section>
				{% endfor %}
				</div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar Prêmio/Título" name="add_premio" id="add_premio">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar Prêmio/Título" name="save_premio" id="save_premio">
					</div>
				</div>
			</fieldset>
		</form>
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<h2 id="orient_acad">Orientações Acadêmicas</h2>
				<div class="input-block">
				{{ orientacao_academica_form.management_form}}
				{% for hidden in orientacao_academica_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for orient_acad in orientacao_academica_form %}
				<section class="accordion">
					<input type="checkbox" name="collapse-orient_acad" id="orient_acad{{ forloop.counter }}">
					<h2 class="handle">
					<label for="orient_acad{{ forloop.counter }}">Orientação Acadêmica #{{ forloop.counter }}</label>
					</h2>
					<div class="content">
						{{ orient_acad.errors }}
						{{ orient_acad }}
					</div>
				</section>
				{% endfor %}
				</div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar Orientação Acadêmica" name="add_orient_acad" id="add_orient_acad">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar Orientação Acadêmica" name="save_orient_acad" id="save_orient_acad">
					</div>
				</div>
			</fieldset>
		</form>
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<h2 id="prod_bib">Produções Bibliográficas</h2>
				<div class="input-block">
				{{ producao_bibliografica_form.management_form}}
				{% for hidden in producao_bibliografica_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for prod_bib in producao_bibliografica_form %}
				<section class="accordion">
					<input type="checkbox" name="collapse-prod_bib" id="prod_bib{{ forloop.counter }}">
					<h2 class="handle">
					<label for="prod_bib{{ forloop.counter }}">Produção Bibliográfica #{{ forloop.counter }}</label>
					</h2>
					<div class="content">
						{{ prod_bib.errors }}
						{{ prod_bib }}
					</div>
				</section>
				{% endfor %}
				</div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar Produção Bibliográfica" name="add_prod_bib" id="add_prod_bib">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar Produção Bibliográfica" name="save_prod_bib" id="save_prod_bib">
					</div>
				</div>
			</fieldset>
		</form>
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<h2 id="prod_tec">Produções Técnicas</h2>
				<div class="input-block">
				{{ producao_tecnica_form.management_form}}
				{% for hidden in producao_tecnica_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for form_prod in producao_tecnica_form %}
				<section class="accordion">
					<input type="checkbox" name="collapse-prod_tec" id="prod_tec{{ forloop.counter }}">
					<h2 class="handle">
					<label for="prod_tec{{ forloop.counter }}">Produção Técnica #{{ forloop.counter }}</label>
					</h2>
					<div class="content">
						{{ form_prod.errors }}
						{{ form_prod }}
					</div>
				</section>
				{% endfor %}
				</div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar Produção Técnica" name="add_prod_tec" id="add_prod_tec">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar Produção Técnica" name="save_prod_tec" id="save_prod_tec">
					</div>
				</div>
			</fieldset>
		</form>
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<div class="input-block">
					<input type="submit" value="Gerar currículo" name="btn-gerar" id="btn-gerar"></input>
				</div>
			</fieldset>
        </form>
		
    </section>
</body>
</html>