<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/collapse.css' %}">
    <title>Lattes Simplificado</title>
</head>
<body>
    <header class="header">
        <h1>Currículo</br><span>Lattes</span></h1>
        <div>
            <a href="#">Editar perfil</a>
            <a href="#">Sair</a>
        </div>
    </header>
    <section class="container">
        <form method="POST">
			{% csrf_token %}
            <fieldset>
                <h1>Imagem</h1>
                <div class="input-block avatar">
                    <div class="image-perfil"></div>
                    <input type="file" value="Alterar" name="image-perfil" id="image-perfil">
					{{ pesquisador_form.foto }}
                    <input type="submit" value="Salvar Foto" name="salvar_foto" id="btn-salvar-foto"/>
                </div>
				<h1 id="dados-pessoais">Dados Pessoais</h1>
                <div class="input-block">
					{{ pesquisador_form.nome.errors }}
                    <label for="nome-completo">Nome completo</label>
					{{ pesquisador_form.nome }}
                </div>
               <div class="wrapper">
                <div class="input-block">
                    {{ pesquisador_form.email.errors }}
					<label for="email">Email</label>
                   	{{ pesquisador_form.email }}
                </div>
                <div class="input-block">
					{{ pesquisador_form.telefone.errors }}
                    <label for="telefone">Telefone</label>
					{{ pesquisador_form.telefone }}
                </div>
               </div>
                <div class="input-block">
                    {{ pesquisador_form.cpf.errors }}
					<label for="cpf">CPF (não será visível)</label>
                    {{ pesquisador_form.cpf }}
                </div>
                <div class="input-block">
                    {{ curriculo_form.resumo.errors }}
                    <label for="resumo">Resumo</label>
                    {{ curriculo_form.resumo }}
                </div>
				
                <h2>Endereço profissional</h2>
                <div class="input-block">
                    {{ endereco_form.logradouro.errors }}
                    <label for="lagradouro">Lagradouro</label>
                    {{ endereco_form.logradouro }}
                </div>
				<div class="input-block">
					{{ endereco_form.bairro.errors }}
					<label for="bairro">Bairro</label>
                    {{ endereco_form.bairro }}
				</div>
				<div class="wrapper">
					<div class="input-block">
						{{ endereco_form.cidade.errors }}
						<label for="cidade">Cidade</label>
						{{ endereco_form.cidade }}
					</div>
					<div class="input-block">
						{{ endereco_form.estado.errors }}
						<label for="estado">Estado</label>
						{{ endereco_form.estado }}
					</div>
				</div>
				<div class="input-block">
					<input type="submit" value="Salvar Dados" name="salvar_dados_pessoais" id="btn-salvar"/>
				</div>
            </fieldset>
            <fieldset>
                <h2>Formação acadêmica</h2>
                <div class="input-block">
                    <label for="tipo">Tipo</label>
                    <input type="text" name="tipo" id="tipo">
                </div>
                <div class="input-block">
                    <label for="nome-formacao">Nome</label>
                    <input type="text" name="nome-formacao" id="nome-formacao">
                </div>
                <div class="input-block">
                    <label for="formacao-ano-ini">Ano de início</label>
                    <input type="text" name="formacao-ano-ini" id="formacao-ano-ini">
                </div>
                <div class="input-block">
                    <label for="formacao-ano-fin">Ano de término</label>
                    <input type="text" name="formacao-ano-fin" id="formacao-ano-fin">
                </div>
                <div class="input-block">
                    <label for="nota">Nota de conclusão</label>
                    <input type="text" name="nota" id="nota">
                </div>
                <div class="input-block">
                    <label for="instituicao">Instituição</label>
                    <input type="text" name="instituicao" id="instituicao">
                </div>
                <div class="input-block">
                    <label for="titulo-formacao">Título</label>
                    <input type="text" name="titulo-formacao" id="titulo-formacao">
                </div>
                <div class="input-block">
                    <label for="palavra-chave">Palavras-chave</label>
                    <input type="text" name="palavra-chave" id="palavra-chave">
                </div>
                <div class="input-block">
                    <label for="orientador-formacao">Orientador</label>
                    <input type="text" name="orientador-formacao" id="orientador-formacao">
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar nova formação" name="addFormacao" id="addFormacao">
                </div>
            </fieldset>
            <fieldset>
                <h2>Atuação profissional</h2>
                <div class="input-block">
                    <label for="vinculo">Vínculo</label>
                    <input type="text" name="vinculo" id="vinculo">
                </div>
                <div class="input-block">
                    <label for="trabalho-dt-ini">Ano de início</label>
                    <input type="text" name="trabalho-dt-ini" id="trabalho-dt-ini">
                </div>
                <div class="input-block">
                    <label for="trabalho-dt-fin">Ano de término</label>
                    <input type="text" name="trabalho-dt-fin" id="trabalho-dt-fin">
                </div>
                <div class="input-block">
                    <label for="instituicao">Instituição</label>
                    <input type="text" name="instituicao" id="instituicao">
                </div>
                <div class="input-block">
                    <label for="enquad">Enquadramento Profissional</label>
                    <input type="text" name="enquad" id="enquad">
                </div>
                <div class="input-block">
                    <label for="regime">Regime</label>
                    <input type="text" name="regime" id="regime">
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar atuação profissional" name="addAtProfisional" id="addAtProfisional">
                </div>
                
            </fieldset>
            <fieldset>
                <h2 id="linha-de-pesquisa">Linhas de pesquisa</h2>
                <div class="input-block">
					{{ linha_pesquisa_form.management_form}}
					{% for hidden in linha_pesquisa_form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for detalhamento in linha_pesquisa_form %}
						{{ detalhamento.errors }}
						{{ detalhamento }}
					{% endfor %}
                </div>
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar linha de pesquisa" name="add_linha_pesq" id="add_linha_pesq">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar linha de pesquisa" name="save_linha_pesq" id="save_linha_pesq">
					</div>
				</div>
            </fieldset>
            <fieldset>
                <h2>Projetos de pesquisa</h2>
                <div class="input-block">
                    <label for="projeto-titulo">Título</label>
                    <input type="text" name="projeto-titulo" id="projeto-titulo">
                </div>
                <div class="input-block">
                    <label for="projeto-dt-ini">Ano de início</label>
                    <input type="text" name="projeto-dt-ini" id="projeto-dt-ini">
                </div>
                <div class="input-block">
                    <label for="projeto-dt-fin">Ano de término</label>
                    <input type="text" name="projeto-dt-fin" id="projeto-dt-fin">
                </div>
                <div class="input-block">
                    <label for="integrantes">Integrantes</label>
                    <input type="text" name="integrantes" id="integrantes">
                </div>
                <div class="input-block">
                    <label for="situacao">Situação</label>
                    <input type="text" name="situacao" id="situacao">
                </div>
                <div class="input-block">
                    <label for="projeto-descricao">Descrição</label>
                    <textarea type="text" name="projeto-descricao" id="projeto-descricao"></textarea>
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar projeto de pesquisa" name="addAtProfisional" id="addAtProfisional">
                </div>
            </fieldset>
            <fieldset>
                <h2 id="proeficiencia_idioma">Idiomas</h2>
				<div class="input-block">
				{{ proeficiencia_idioma_form.management_form}}
				{% for hidden in proeficiencia_idioma_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for form_idioma in proeficiencia_idioma_form %}
				<section class="accordion">
					<input type="checkbox" name="collapse" id="handle{{ forloop.counter }}">
					<h2 class="handle">
					  <label for="handle{{ forloop.counter }}">Idioma {{ forloop.counter }}</label>
					</h2>
					<div class="content">
						{{ form_idioma.errors }}
						{{ form_idioma }}
					</div>
				</section>
				{% endfor %}
				<div class="wrapper">
					<div class="input-block">                    
						<input type="submit" value="Adicionar Idioma" name="add_idioma" id="add_idioma">
					</div>
					<div class="input-block">                    
						<input type="submit" value="Salvar Idioma" name="save_idioma" id="save_idioma">
					</div>
				</div>
            </fieldset>
            <fieldset>
                <h2>Prêmios e títulos</h2>
                <div class="input-block">
                    <label for="premio-titulo">Nome</label>
                    <input type="text" name="nome-titulo" id="nome-titulo">
                </div>
                <div class="input-block">
                    <label for="premio-ano">Ano</label>
                    <input type="text" name="nome-titulo" id="nome-titulo">
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar prêmio" name="addIdioma" id="addIdioma">
                </div>
            </fieldset>
            <fieldset>
                <h2>Orientações acadêmicas</h2>
                <div class="input-block">
                    <label for="orientacao-orientando">Orientando</label>
                    <input type="text" name="orientacao-orientando" id="orientacao-orientando">
                </div>
                <div class="input-block">
                    <label for="orientacao-instituicao">Instituição</label>
                    <input type="text" name="orientacao-instituicao" id="orientacao-instituicao">
                </div>
                <div class="input-block">
                    <label for="orientacao-descricao">Descrição</label>
                    <input type="text" name="orientacao-descricao" id="orientacao-descricao">
                </div>
                <div class="input-block">
                    <label for="orientacao-tipo">Tipo de orientação</label>
                    <input type="text" name="orientacao-tipo" id="orientacao-tipo">
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar orientação acadêmica" name="addOrintacao" id="addOrintacao">
                </div>
            </fieldset>
            <fieldset>
                <h2>Produção bibliográfica</h2>
                <div class="input-block">
                    <label for="prod-biblig-titulo">Título</label>
                    <input type="text" name="prod-biblig-titulo" id="prod-biblig-titulo">
                </div>
                <div class="input-block">
                    <label for="prod-biblig-autores">Autores</label>
                    <input type="text" name="prod-biblig-autores" id="prod-biblig-autores">
                </div>
               <div class="wrapper">
                <div class="input-block">
                    <label for="prod-biblig-edicao">Edição</label>
                    <input type="text" name="prod-biblig-edicao" id="prod-biblig-edicao">
                </div>
                <div class="input-block">
                    <label for="prod-biblig-ano">Ano</label>
                    <input type="text" name="prod-biblig-ano" id="prod-biblig-ano">
                </div>
               </div>
                <div class="input-block">
                    <label for="prod-biblig-pagina-ini">Página inicial</label>
                    <input type="text" name="prod-biblig-pagina-ini" id="prod-biblig-pagina-ini">
                </div>
                <div class="input-block">
                    <label for="prod-biblig-pag-fin">Página final</label>
                    <input type="text" name="prod-biblig-pag-fin" id="prod-biblig-pag-fin">
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar produção bibliográfica" name="addIdioma" id="addIdioma">
                </div>
            </fieldset>
            <fieldset>
                <h2>Produção técnica</h2>
                <div class="input-block">
                    <label for="prod-titulo">Título</label>
                    <input type="text" name="prod-titulo" id="prod-titulo">
                </div>
                <div class="input-block">
                    <label for="prod-autores">Autores</label>
                    <input type="text" name="prod-autores" id="prod-autores">
                </div>
                <div class="input-block">
                    <label for="prod-ano">Ano</label>
                    <input type="text" name="prod-ano" id="prod-ano">
                </div>
                <div class="input-block">                    
                    <input type="button" value="Adicionar produção técnica" name="addIdioma" id="addIdioma">
                </div>
            </fieldset>
			<fieldset>
				<div class="input-block">
					<input type="submit" value="Gerar currículo" name="btn-gerar" id="btn-gerar"></input>
				</div>
			</fieldset>
        </form>
		
    </section>
</body>
</html>