<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
	<meta charset="UTF-8">
	<title>Lattes Simplificado</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
	<div class="secoes">
		<div class="principal">
			<img id="foto" src="{% static 'images/imagem_michel.png' %}" alt="Foto">
			<div>
				<h1>Nome Completo</h1>
				<p>{{ nome }}</p>
			</div>
			<div>
				<h1>Email</h1>
				<p>{{ email }}</p>
			</div>
			<div id="resumo">
				<h1>Resumo</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo, augue nec pulvinar consectetur, enim ex congue purus, a vulputate quam tortor non sem. Aenean condimentum, dui eu placerat cursus, sem lectus ultrices libero, ut aliquam lacus nunc ut turpis. Ut vulputate faucibus elit sit amet mattis. Cras eget sagittis nunc, vitae mattis est. Praesent metus nisl, elementum ut purus at, dignissim volutpat massa. Pellentesque at faucibus risus. Donec consequat dictum metus, sed rutrum nibh auctor sit amet. Etiam sollicitudin nunc eu dui ornare pharetra. In hac habitasse platea dictumst. Fusce vulputate dui et laoreet tincidunt. Nunc id sodales nulla. Phasellus augue risus, malesuada sed lacinia vitae, auctor non mi. Nullam sit amet dui enim.</p>
			</div>
		</div>
		<div class="endereco">
			<h1>Endereço</h1>
			<p>{{ logradouro }}</p>
			<p>{{ bairro }}</p>
			<p>{{ cidade }}</p>
			<p>{{ estado }}</p>
		</div>
	</div>
</body>
</html>